@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navfont {
    font-family: 'Poppins', sans-serif;
}

/* Carousel  */

 
/* Barber Main Page */
.barber_main{
    background-image: url('assets/Barber_Shop_Main.webp');
    background-size: cover;
    background-repeat: no-repeat;
}
/* AboutUs  */

.aboutus {
    background-image: url('assets/Indian_barber/AboutU_Indian_barber_3.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Services  */
.services {
    background-image: url('assets/Indian_barber/Services_6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Pricing  */
.pricing {
    background-image: url('assets/Indian_barber/Pricing_11.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Barbers  */
.barbers {
    background-image: url('assets/Indian_barber/Barber_11.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Footer  */
.footer {
    background-image: url('assets/Indian_barber/Footer_Barbering_Equipment.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}



/* Pricing Menu  */
.pricing_menu{
    background-image: url('assets/Indian_barber/Pricing_menu_2.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Booking Appointment  */
.booking{
    background-image: url('assets/Indian_barber/Appointment4.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Services Background */
.services_bg{
    background-image: url('assets/Indian_barber/Services_Background.webp');
    background-size: cover;
    background-repeat: no-repeat;
}